extends ../layout

block content
	.row
		.col-md-9
			h1 #{title}
		.col-md-3
			a.btn.btn-default.create-btn(href="/manage/articles/add") Add an Article
	table(class='table table-striped')
		tr
			th Article Title
			th Date Published
			th Author
			th
		each article, i in articles
			tr
				td #{article.title}
				td #{article.created_at}
				td #{article.author}
				td
					a.btn.btn-tiny.btn-default(href="/manage/articles/edit/"+article.id) Edit
					a.btn.btn-tiny.btn-danger.delete-article.pull-right(href='#', data-art-id=article.id) Delete